data/all_data.csv filter=lfs diff=lfs merge=lfs -text
data/ALKATI_ccle.csv filter=lfs diff=lfs merge=lfs -text
data/All_Data_V2.csv filter=lfs diff=lfs merge=lfs -text
data/CCLE_NP24.2009_Drug_data_2015.02.24.csv filter=lfs diff=lfs merge=lfs -text
data/alkati_baf3_ic50s_heatmap.csv filter=lfs diff=lfs merge=lfs -text
data/alkati_growthcurvedata.csv filter=lfs diff=lfs merge=lfs -text
data/alkati_growthcurvedata_popdoublings.csv filter=lfs diff=lfs merge=lfs -text
data/alkati_growthcurvedata_popdoublings_f1174mutants.csv filter=lfs diff=lfs merge=lfs -text
data/alkati_melanoma_vemurafenib_figure_data.csv filter=lfs diff=lfs merge=lfs -text
data/archive/alkati_simulations_compiled_1000_12319.csv filter=lfs diff=lfs merge=lfs -text
data/skmel28_sos1_mekq56p_vemurafenib.csv filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/rpkm.txt filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/rsem.txt filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/EML4-ALK.txt filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/CCLE_Fusions_20181130.txt filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/CCLE_RNAseq_rsem_genes_tpm_20180929.txt filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/ncbi_build.txt filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/psi.txt filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/read_counts.txt filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/CCLE_DepMap_18q3_maf_20180718.txt filter=lfs diff=lfs merge=lfs -text
data/ filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/CCLE_RNAseq_ExonUsageRatio_20180929.gct filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/CCLE_RNAseq_genes_counts_20180929.gct filter=lfs diff=lfs merge=lfs -text
data/tcga_skcm_expression/gdac.broadinstitute.org_SKCM.Mutation_Packager_Oncotated_Calls.Level_3.2016012800.0.0.tar.gz filter=lfs diff=lfs merge=lfs -text
data/tcga_skcm_expression/gdac.broadinstitute.org_SKCM.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes__data.Level_3.2016012800.0.0.tar.gz filter=lfs diff=lfs merge=lfs -text
data/tcga_skcm_expression/gdac.broadinstitute.org_SKCM.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes_normalized__data.Level_3.2016012800.0.0.tar.gz filter=lfs diff=lfs merge=lfs -text
data/tcga_skcm_expression/gdac.broadinstitute.org_SKCM.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__exon_quantification__data.Level_3.2016012800.0.0[[:space:]](1).tar.gz filter=lfs diff=lfs merge=lfs -text
data/tcga_skcm_expression/gdac.broadinstitute.org_SKCM.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__exon_quantification__data.Level_3.2016012800.0.0.tar.gz filter=lfs diff=lfs merge=lfs -text
data/tcga_skcm_expression/gdac.broadinstitute.org_SKCM.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes__data.Level_3.2016012800.0.0/MANIFEST.txt filter=lfs diff=lfs merge=lfs -text
data/tcga_skcm_expression/gdac.broadinstitute.org_SKCM.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes__data.Level_3.2016012800.0.0/SKCM.rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes__data.data.txt filter=lfs diff=lfs merge=lfs -text
data/tcga_luad_expression/luadgeneexpression filter=lfs diff=lfs merge=lfs -text
data/tcga_luad_expression/luadrsemdata filter=lfs diff=lfs merge=lfs -text
data/tcga_luad_expression/luad_mutation_data filter=lfs diff=lfs merge=lfs -text
data/tcga_luad_expression/luadexondatacomb filter=lfs diff=lfs merge=lfs -text
data/tcga_skcm_expression/gdac.broadinstitute.org_SKCM.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes__data.Level_3.2016012800.0.0 filter=lfs diff=lfs merge=lfs -text
data/tcga_skcm_expression/gdac.broadinstitute.org_SKCM.Mutation_Packager_Oncotated_Calls.Level_3.2016012800.0.0 filter=lfs diff=lfs merge=lfs -text
data/tcga_skcm_expression/gdac.broadinstitute.org_SKCM.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes_normalized__data.Level_3.2016012800.0.0 filter=lfs diff=lfs merge=lfs -text
data/tcga_skcm_expression/gdac.broadinstitute.org_SKCM.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__exon_quantification__data.Level_3.2016012800.0.0 filter=lfs diff=lfs merge=lfs -text
data/tcga_brca_expression/gdac.broadinstitute.org_BRCA.Mutation_Packager_Oncotated_Calls.Level_3.2016012800.0.0 filter=lfs diff=lfs merge=lfs -text
data/tcga_brca_expression/gdac.broadinstitute.org_BRCA.Mutation_Packager_Oncotated_Calls.Level_3.2016012800.0.0.tar.gz filter=lfs diff=lfs merge=lfs -text
data/tcga_brca_expression/brca_ERPRposID.csv filter=lfs diff=lfs merge=lfs -text
data/tcga_luad_expression/luadexondatacomb/gdac.broadinstitute.org_LUAD.Merge_rnaseq__illuminahiseq_rnaseq__unc_edu__Level_3__exon_expression__data.Level_3.2016012800.0.0/MANIFEST.txt filter=lfs diff=lfs merge=lfs -text
data/tcga_luad_expression/luadexondatacomb/gdac.broadinstitute.org_LUAD.Merge_rnaseq__illuminahiseq_rnaseq__unc_edu__Level_3__exon_expression__data.Level_3.2016012800.0.0/LUAD.rnaseq__illuminahiseq_rnaseq__unc_edu__Level_3__exon_expression__data.data.txt filter=lfs diff=lfs merge=lfs -text
data/tcga_luad_expression/luadgeneexpression/gdac.broadinstitute.org_LUAD.Merge_rnaseq__illuminahiseq_rnaseq__unc_edu__Level_3__gene_expression__data.Level_3.2016012800.0.0/LUAD.rnaseq__illuminahiseq_rnaseq__unc_edu__Level_3__gene_expression__data.data.txt filter=lfs diff=lfs merge=lfs -text
data/tcga_luad_expression/luadgeneexpression/gdac.broadinstitute.org_LUAD.Merge_rnaseq__illuminahiseq_rnaseq__unc_edu__Level_3__gene_expression__data.Level_3.2016012800.0.0/MANIFEST.txt filter=lfs diff=lfs merge=lfs -text
data/tcga_luad_expression/luadrsemdata/gdac.broadinstitute.org_LUAD.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes__data.Level_3.2016012800.0.0.tar.gz filter=lfs diff=lfs merge=lfs -text
data/tcga_luad_expression/luadrsemdata/gdac.broadinstitute.org_LUAD.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes_normalized__data.Level_3.2016012800.0.0.tar.gz filter=lfs diff=lfs merge=lfs -text
data/tcga_luad_expression/luadrsemdata/gdac.broadinstitute.org_LUAD.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes__data.Level_3.2016012800.0.0/MANIFEST.txt filter=lfs diff=lfs merge=lfs -text
data/tcga_luad_expression/luadrsemdata/gdac.broadinstitute.org_LUAD.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes__data.Level_3.2016012800.0.0/LUAD.rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes__data.data.txt filter=lfs diff=lfs merge=lfs -text
data/tcga_luad_expression/luadrsemdata/gdac.broadinstitute.org_LUAD.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes_normalized__data.Level_3.2016012800.0.0/LUAD.rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes_normalized__data.data.txt filter=lfs diff=lfs merge=lfs -text
data/tcga_skcm_expression/gdac.broadinstitute.org_SKCM.Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__exon_quantification__data.Level_3.2016012800.0.0/SKCM.rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__exon_quantification__data.data.txt filter=lfs diff=lfs merge=lfs -text
output/alkati_filtercutoff_allfilters.csv filter=lfs diff=lfs merge=lfs -text
data/tcga_skcm_expression/gdac.broadinstitute.org_SKCM.Mutation_Packager_Oncotated_Calls.Level_3.2016012800.0.0/TCGA-FW-A3R5-06.hg19.oncotator.hugo_entrez_remapped.maf.txt filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/CCLE_RNAseq_ExonUsageRatio_20180929.gct filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/CCLE_RNAseq_rsem_genes_tpm_20180929.txt filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/CCLE_RNAseq_genes_counts_20180929.gct filter=lfs diff=lfs merge=lfs -text
data/depmap_alkati/Data_Raw/CCLE/CCLE_DepMap_18q3_maf_20180718.txt filter=lfs diff=lfs merge=lfs -text
data/alkati_simulations_compiled_200_51121.csv filter=lfs diff=lfs merge=lfs -text
data/archive/alkati_simulations_compiled_200_51121.csv filter=lfs diff=lfs merge=lfs -text
